RFC2308 covers some special failure cases

https://tools.ietf.org/html/rfc2308#section-7 covers some uncommon or special failure cases that may and may not be cached, and their requirements/limits.  We need to obey these.

Two examples:

> [RFC2308 Section 7.1 - Server Failure](https://tools.ietf.org/html/rfc2308#section-7.1): ... a resolver MAY cache a server failure response.  If it does so it MUST NOT cache it for longer than five (5) minutes, and it MUST be cached against the specific query tuple <query name, type, class, server IP address>.

> [RFC2308 Section 7.2 - Dead / Unreachable Server](https://tools.ietf.org/html/rfc2308#section-7.2): A server may be deemed to be dead or unreachable if it has not responded to an outstanding query within 120 seconds. ... A server MAY cache a dead server indication.  If it does so it MUST NOT be deemed dead for longer than five (5) minutes.  The indication MUST be stored against query tuple <query name, type, class, server IP address> unless there was a transport layer indication that the server does not exist, in which case it applies to all queries to that specific IP address.

There are some cases (like in 7.2 above) that `dnscache` package can't know (because it's not exposed to underlying details, like IP addresses) all the qualifying details without changing the API.  We should evaluate what that means for `dnscache` and how much responsibility we retain here and how much we have to wave off to the user of this package.